@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Ubuntu:wght@700&display=swap');

.home{
    font-family: 'Port Lligat Sans', sans-serif;
    color: black;
    font-size: 3vh;
    position: relative;
    left: 2vh;
}
.adminnav{   
background-color: rgb(89, 212, 212);
border-radius: 30px;
position:relative;
top: 2vh;
z-index: 1;
height: 7vh;
}

.decnone{
    text-decoration: none;
}


.fontport{
    font-family: 'Baloo Bhai 2', cursi;
    display: grid;
}
.anime{
    position: relative;
    top: 1vh;

}

.anime:hover{
transform: scale(1.1);
}
.relate{
    position: relative;
    top: 3vh;
    left: 3vh;
}
.dashorder{
    display: flex;
    font-family: 'Baloo Bhai 2', cursi;
    font-size: 2vh;
    background-color: rgb(126, 120, 120);
    color: white;
    border-radius: 5px;

    justify-content: center;
    margin-top:2vh;
}
.add{
    transform: scale(3);
    display: flex;
    position: relative;
    left: 100vh;
    top: 30vh;
    height: 3vh;
    width: 2vh;

}
.cform{
    padding: 3vh;
    background-color: rgba(230,237,240,255);
    border-radius: 8px;
    height:100%;
    width: 60%;
}